<header id="header">
  <!-- NAV -->
  <div id="nav">
    <!-- Top Nav -->
    <div id="nav-top">
      <div class="container">
        <ul class="nav-social">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <!-- <li><a href="#"><i class="fa fa-twitter"></i></a></li> -->
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa fa-rss"></i></a></li>
          <!-- <li><a href="#"><i class="fa fa-google-plus"></i></a></li> -->
        </ul>
  

        <!-- logo -->
        <div class="nav-logo">
          <a href="index.html" class="logo">
            <!-- <img src="./img/logo.png" alt=""> -->
            <h1 style="margin-top:17px">Un<span style="color:#A8D0E6">i</span>blank</h1>
          </a>
        </div>
        <!-- /logo -->

        <!-- search & aside toggle -->
        <div class="nav-btns">
          <button class="aside-btn"><i class="fa fa-bars"></i></button>
          <button class="search-btn"><i class="fa fa-search"></i></button>
          <div id="nav-search">
            <form>
              <input class="input" name="search" placeholder="Enter your search...">
            </form>
            <button class="nav-close search-close">
              <span></span>
            </button>
          </div>
        </div>
        <!-- /search & aside toggle -->
      </div>
    </div>
    <!-- /Top Nav -->


    <app-navbar></app-navbar>


    <!-- Aside Nav -->
    <div id="nav-aside">
      <ul class="nav-aside-menu">
        <li><a href="#">บทความ</a></li>
        <li><a href="#">รู้จักเรา</a></li>
        <li><a href="#">ผลงาน</a></li>
        <li><a href="#">ติดต่อเรา</a></li>
      </ul>
      <button class="nav-close nav-aside-close"><span></span></button>
    </div>
    <!-- /Aside Nav -->
  </div>
  <!-- /NAV -->
</header>